/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1;
  font-family: "Nunito Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; }

a:link,
a:visited {
  color: #000;
  text-decoration: none; }

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.inner {
  box-sizing: border-box;
  overflow: hidden; }

.alphabets {
  display: grid;
  grid-template-columns: .5fr 1.5fr 1.5fr .5fr;
  grid-template-rows: .5fr 2fr .5fr;
  height: 100vh; }
  .alphabets__item2 .letters span.letterI {
    color: #FBE332;
    opacity: .2;
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: -20px; }
  .alphabets__item3 .letters span.letterS {
    color: #FBE332;
    opacity: .2;
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30px;
    z-index: 2; }
  .alphabets__item6 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    z-index: 1; }
  .alphabets__item7 .letters span.letterS {
    color: #FBE332;
    opacity: .2;
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 160px;
    right: -30px;
    z-index: 2; }
  .alphabets__item12 {
    grid-area: 2 / 3 / 3 / 4;
    z-index: 0; }

.container {
  background: transparent;
  width: 100%;
  height: 100%; }

.header {
  position: absolute;
  top: 50px;
  width: 960px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .header__logo {
    text-align: left; }
  .header__menu {
    text-align: right; }

.carousel {
  background: transparent; }

.carousel-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell; }

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

.flickity-page-dots {
  display: none; }
