/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; }

a:link,
a:visited {
  text-decoration: none; }

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.inner {
  box-sizing: border-box;
  overflow: hidden; }

.alphabets {
  display: grid;
  grid-template-columns: .5fr 1.5fr 1.5fr .5fr;
  grid-template-rows: .5fr 2fr .5fr;
  height: 100vh; }
  .alphabets__item2 .letters span.letterI {
    color: rgba(251, 227, 50, 0.2);
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: -20px;
    z-index: -1; }
  .alphabets__item3 .letters span.letterS {
    color: rgba(251, 227, 50, 0.2);
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 30px;
    z-index: 2; }
  .alphabets__item5 .letters {
    position: relative; }
    .alphabets__item5 .letters span.letterV {
      color: rgba(251, 227, 50, 0.2);
      font-size: 130px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      position: absolute;
      top: 200px;
      left: -30px;
      z-index: 2;
      overflow: hidden; }
  .alphabets__item6 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    z-index: 1; }
  .alphabets__item7 .letters span.letterH {
    color: rgba(251, 227, 50, 0.2);
    font-size: 130px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 160px;
    right: -30px;
    z-index: 2;
    overflow: hidden; }
  .alphabets__item9 .letters {
    position: relative; }
    .alphabets__item9 .letters span.letterL {
      color: rgba(251, 227, 50, 0.2);
      font-size: 130px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      z-index: 0;
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: 80px; }
  .alphabets__item10 .letters {
    position: relative; }
    .alphabets__item10 .letters span.letterA {
      color: rgba(251, 227, 50, 0.2);
      font-size: 130px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      z-index: 2;
      overflow: hidden;
      position: absolute;
      top: -30px;
      right: 80px; }
  .alphabets__item12 {
    grid-area: 2 / 3 / 3 / 4;
    z-index: 0; }

#A {
  top: 50px; }

#I {
  top: 50px; }

#H {
  top: 50px; }

#V {
  top: 50px; }

#S, #L {
  top: 50px; }

.container {
  background: transparent;
  width: 100%;
  height: 100%; }

.box {
  width: 960px;
  margin: 0 auto; }

.back {
  font-size: 20px;
  text-transform: lowercase;
  letter-spacing: 0;
  margin-right: 20px; }

.header {
  position: absolute;
  top: 50px;
  width: 960px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .header__logo {
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px; }
  .header__menu {
    text-align: right; }

.carousel {
  background: transparent; }

.carousel-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #C4C3BD;
  border-radius: 5px;
  counter-increment: carousel-cell; }
  .carousel-cell__image {
    width: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .2s; }
    .carousel-cell__image:hover {
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }

/* cell number */
.flickity-page-dots {
  display: none; }

.aboutme {
  background-color: transparent;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; }
  @media screen and (max-width: 767px) {
    .aboutme {
      width: 100%;
      grid-template-columns: auto;
      box-sizing: border-box;
      padding: 20px 10px;
      height: auto; } }
  .aboutme__lhs {
    background-color: rgba(251, 227, 50, 0);
    padding: 40px;
    align-self: center;
    border: 12px solid rgba(251, 227, 50, 0.2);
    border-right: 0px; }
  .aboutme__rhs {
    width: 100%;
    height: 100%; }
    .aboutme__rhs--videoBox {
      height: 100%;
      position: relative; }
      .aboutme__rhs--videoBox video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: center; }

.primary-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 4vw;
  color: #090909;
  text-transform: uppercase; }

.paragraph {
  line-height: 29px;
  margin-top: 20px;
  text-align: left;
  color: #000;
  font-size: 14px; }

.active {
  font-weight: bold; }

@keyframes ldio-7oqrmoldtcs {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0; } }

.ldio-7oqrmoldtcs div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-7oqrmoldtcs 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.ldio-7oqrmoldtcs div:nth-child(1) {
  border-color: #fbe332; }

.ldio-7oqrmoldtcs div:nth-child(2) {
  border-color: #090909;
  animation-delay: -0.5s; }

.loadingio-spinner-ripple-cg0qyc8ucd {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

.ldio-7oqrmoldtcs {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-7oqrmoldtcs div {
  box-sizing: content-box; }

/* generated by https://loading.io/ */
.workbody {
  overflow-y: auto; }

.work-header-top {
  padding: 50px 0 0;
  width: 960px;
  margin: 0 auto; }

@media screen and (max-width: 768px) {
  .work-header-top,
  .box {
    width: 100%; } }

.work-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; }
  @media screen and (max-width: 768px) {
    .work-header {
      padding: 0 20px; } }
  .work-header__logo {
    text-align: left;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px; }
  .work-header__menu {
    text-align: right; }

.work-header-bottom {
  overflow: hidden;
  height: 15rem;
  text-align: center;
  display: grid;
  align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .work-header-bottom {
      height: 8rem; } }

.projectname-heading {
  position: relative;
  font-size: 10rem;
  bottom: 0px;
  margin: 0;
  padding: 0;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .projectname-heading {
      font-size: 6rem; } }

.project-outer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.project-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 50px 0 0 0; }
  @media screen and (max-width: 768px) {
    .project-info {
      width: 100%;
      grid-template-columns: auto;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 20px; } }
  .project-info__project, .project-info__team, .project-info__role {
    padding: 0 50px; }
    @media screen and (max-width: 768px) {
      .project-info__project, .project-info__team, .project-info__role {
        padding: 15px; } }

.white {
  color: #FFFFFF; }

.black {
  color: #000000; }

.black-bg {
  background-color: #626ce2; }

.grey-bg {
  background-color: #C4C3BD; }

.purple-bg {
  background: linear-gradient(25deg, #626ce2, #8461f4, #985cff);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

.orange-bg {
  background: linear-gradient(25deg, #f76032, #7bb951, #ffb348);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 69% 0%; }
  50% {
    background-position: 32% 100%; }
  100% {
    background-position: 69% 0%; } }

.project-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 10px; }

.project-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 24px; }

.projectscreens-websites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  background-color: #C4C3BD;
  padding: 0px 0; }
  @media screen and (max-width: 768px) {
    .projectscreens-websites {
      width: 100%;
      box-sizing: border-box;
      padding: 20px 0; } }
  .projectscreens-websites__item1 {
    align-items: center;
    justify-items: center;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .projectscreens-websites__item1 {
        grid-column: 1 / 3; } }
    .projectscreens-websites__item1 img {
      width: 90%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .projectscreens-websites__item2 {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .projectscreens-websites__item2 {
        grid-column: 1 / 3;
        padding: 30px 0; } }
    .projectscreens-websites__item2 img {
      width: 90%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .projectscreens-websites__item2 img:nth-child(1) {
        margin-top: 80px; }
        @media screen and (max-width: 768px) {
          .projectscreens-websites__item2 img:nth-child(1) {
            margin-top: 0; } }
      .projectscreens-websites__item2 img:nth-child(2) {
        margin-top: 80px; }
        @media screen and (max-width: 768px) {
          .projectscreens-websites__item2 img:nth-child(2) {
            margin-top: 30px; } }
  .projectscreens-websites__item3 {
    text-align: center;
    padding: 0px 0;
    grid-column: 1 / 3; }
    .projectscreens-websites__item3 img {
      width: 40%; }
      @media screen and (max-width: 768px) {
        .projectscreens-websites__item3 img {
          width: 100%; } }
  .projectscreens-websites__item4 {
    text-align: center;
    padding: 40px 0; }
    @media screen and (max-width: 768px) {
      .projectscreens-websites__item4 {
        grid-column: 1 / 3;
        padding: 30px 0; } }
    .projectscreens-websites__item4 img {
      width: 90%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  @media screen and (max-width: 768px) {
    .projectscreens-websites__item5 {
      grid-column: 1 / 3;
      text-align: center; } }
  .projectscreens-websites__item5 img {
    width: 90%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .projectscreens-websites__item6 {
    grid-column: 1 / 3;
    padding: 100px 0; }
    @media screen and (max-width: 768px) {
      .projectscreens-websites__item6 {
        padding: 0; } }
    .projectscreens-websites__item6 img {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.projectscreens-mobileapp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #C4C3BD;
  padding: 0 0 50px 0; }
  @media screen and (max-width: 768px) {
    .projectscreens-mobileapp {
      width: 100%;
      grid-template-columns: auto;
      box-sizing: border-box;
      padding: 20px 10px; } }
  .projectscreens-mobileapp__item0 {
    height: auto;
    padding-bottom: 100px;
    grid-column: 1 / 5;
    display: grid;
    justify-items: center; }
    .projectscreens-mobileapp__item0 img {
      width: 25%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      @media screen and (max-width: 768px) {
        .projectscreens-mobileapp__item0 img {
          width: 100%; } }
  .projectscreens-mobileapp__item1 {
    height: 500px;
    display: grid;
    align-items: flex-start;
    justify-items: center; }
    @media screen and (max-width: 768px) {
      .projectscreens-mobileapp__item1 {
        grid-column: 1 / 5;
        box-sizing: border-box;
        padding: 20px 10px;
        height: auto; } }
    .projectscreens-mobileapp__item1 img {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .projectscreens-mobileapp__item2 {
    height: 500px;
    display: grid;
    align-items: flex-end;
    justify-items: center; }
    @media screen and (max-width: 768px) {
      .projectscreens-mobileapp__item2 {
        grid-column: 1 / 5;
        box-sizing: border-box;
        padding: 20px 10px;
        height: auto; } }
    .projectscreens-mobileapp__item2 img {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .projectscreens-mobileapp__item3 {
    height: 500px;
    display: grid;
    align-items: flex-start;
    justify-items: center; }
    @media screen and (max-width: 768px) {
      .projectscreens-mobileapp__item3 {
        grid-column: 1 / 5;
        box-sizing: border-box;
        padding: 20px 10px;
        height: auto; } }
    .projectscreens-mobileapp__item3 img {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .projectscreens-mobileapp__item4 {
    height: 500px;
    display: grid;
    align-items: flex-end;
    justify-items: center; }
    @media screen and (max-width: 768px) {
      .projectscreens-mobileapp__item4 {
        grid-column: 1 / 5;
        box-sizing: border-box;
        padding: 20px 10px;
        height: auto; } }
    .projectscreens-mobileapp__item4 img {
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  @media screen and (max-width: 768px) {
    .projectscreens-mobileapp__item5 {
      grid-column: 1 / 5;
      box-sizing: border-box;
      padding: 20px 10px;
      height: auto; } }
  .projectscreens-mobileapp__item5 img {
    width: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  @media screen and (max-width: 768px) {
    .projectscreens-mobileapp__item6 {
      grid-column: 1 / 5;
      box-sizing: border-box;
      padding: 20px 10px;
      height: auto; } }
  .projectscreens-mobileapp__item6 img {
    width: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.project-next {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media screen and (max-width: 768px) {
    .project-next {
      width: 100%;
      box-sizing: border-box; } }
  .project-next__link {
    color: #000;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    display: block;
    padding: 100px 0; }
    .project-next__link:hover {
      color: #C4C3BD;
      background-color: #F5F5EB; }
