/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.inner {
  box-sizing: border-box;
  overflow: hidden;
}
.alphabets {
  display: grid;
  grid-template-columns: .2fr 1.5fr 1.5fr .2fr;
  grid-template-rows: .5fr 3fr .5fr;
  height: 100vh;
  position: relative;

  @media screen and (max-width: 768px) {
    grid-template-columns: 0 1fr 1fr 0;
  }
  &__item1 {
    // background-color: red;
  }
  &__item2 {
    // background-color: yellow;
    .letters {

    span.letterI {
      color: rgba(251, 227, 50, 0.2);
      font-size: 80px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      position: absolute;
      top: 10px;
      left: 82px;
      z-index: -1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    }
  }
  &__item3 {
    // background-color: green;
    .letters {

      span.letterS {
        color: rgba(251, 227, 50, 0.2);
        font-size: 80px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        position: absolute;
        top: -20px;
        z-index:2;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      }
  }
  &__item4 {
    // background-color: blue;
  }
  &__item5 {
    // background-color: orange;
    .letters {
      position: relative;

    span.letterV {
      color: rgba(251, 227, 50, 0.2);
      font-size: 80px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      position: absolute;
      top: 320px;
      left: -15px;
      z-index:2;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    }

    .connect {
      display: none;
      left: 0px;
      transform: rotate(-90deg);
      position: absolute;
      top: 60%;

      &__profile {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 3px;
        color: rgba(9, 9, 9, 1);
      }
    }
  }
  &__item6 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    z-index: 1;

    
    @media screen and (max-width: 768px) {
      z-index: 1;
    }
  }
  &__item7 {
    // background-color: grey;
    .letters {

      span.letterH {
        color: rgba(251, 227, 50, 0.2);
        font-size: 80px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        top: 80px;
        right: -15px;
        z-index:2;
        overflow: hidden;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      }
  }
  &__item8 {
    // background-color: gold;
  }
  &__item9{
  //   background-color: purple;
  .letters {
    position: relative;

    span.letterL {
      color: rgba(251, 227, 50, 0.2);
      font-size: 80px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      z-index:0;
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: 80px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    }
  }
  &__item10 {
    // background-color: skyblue;
    .letters {
      position: relative;

      span.letterA {
        color: rgba(251, 227, 50, 0.2);
        font-size: 80px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        z-index:2;
        overflow: hidden;
        position: absolute;
        top: -30px;
        right: 80px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      }
  }
  &__item11 {
    // background-color:pink;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__item12 {
    // background-color: yellowgreen;
    // grid-row: 2 / 3;
    // grid-column: 3 / 4;
    grid-area: 2 / 3 / 3 / 4;
    z-index:0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
 
}


// movement of letters on mouse move
// #A {
//   top: 5px;
// }
// #I {
//   top: 5px;
// }
// #H {
//   top: 5px;
// }
// #V {
//   top: 5px;
// }
#S, #L, #mobile {
  top: 55px;
}

// #V, #I, #S, #H, #A, #L {
//   display: none;
// }

.container {
  background: transparent;
  width: 100%;
  height: 100%;
}
.box {
  width: 960px;
  margin: 0 auto;
}
.back {
  font-size: 20px;
  text-transform: lowercase;
  letter-spacing: 0;
  margin-right: 20px;
}


