$heading-font-family: "Roboto", sans-serif;
$heading-font-weight: 900;
$heading-font-size: 4vw;

$sub-heading-font-family: "Nunito Sans", sans-serif;
$sub-heading-font-weight: 400;
$sub-heading-font-size: 40px;

$paragraph-font-family: "Nunito Sans", sans-serif;
$paragraph-font-weight: 300;
$paragraph-font-size: 16px;


$project-title-font-family: "Roboto", sans-serif;
$project-title-font-weight: 600;
$project-title-font-size: .7rem;
$project-title-case: uppercase;
$porject-title-letter-spacing: .3rem;
// $project-title-color: #434dbd;
$project-title-margin-bottom: 10px;


$project-para-font-family: "Roboto", sans-serif;
$project-para-font-weight: 300;
$project-para-font-size: .8rem;
// $project-para-color: #252c7e;
$project-para-line-height: 24px;

