$heading-font-family: "Roboto", sans-serif;
$heading-font-weight: 900;
$heading-font-size: 20vw;

$sub-heading-font-family: "Nunito Sans", sans-serif;
$sub-heading-font-weight: 400;
$sub-heading-font-size: 40px;

$paragraph-font-family: "Nunito Sans", sans-serif;
$paragraph-font-weight: 300;
$paragraph-font-size: 16px;


