


// Theme colors
$primary-color: rgb(251, 227, 50); // - BANANA YELLOW
$secondary-color: #090909; //- SMOKY BLACK
$beige-color: #F5F5EB; // - ISABELLINE
$silver-color: #C4C3BD; // - SILVER

$white-color: #FFFFFF; // - WHITE
$black-color: #000000; // - BLACK
$purple-color: #626ce2; // - PURPLE
$orange-color: #f76032; // - ORANGE




$purple-contrast-color: #434dbd; 

