.content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.secondary-heading {
  font-size: 96px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
  margin-left: -6px;
  position: relative;
}
.secondary-sub-heading {
  font-size: 61.4px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  margin-left: -5px;
  position: relative;
}
.about-mainlhs {
  background: #ffffff;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.about-mainrhs {
  background-color: #f3f9f9;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.paragraph {
  line-height: 35px;
  padding: 20px 100px 0 0;
  color: rgba(0, 0, 0, 0.8);
}

.video-box video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  align-self: center;
}
