.content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.secondary-heading {
  font-size: 56px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
  margin-left: -6px;
  position: relative;
}
.secondary-sub-heading {
  font-size: 21.4px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  margin-left: -5px;
  position: relative;
}
.about-mainlhs {
  background: #ffffff;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.about-mainrhs {
  background-color: #f3f9f9;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.paragraph {
  line-height: 35px;
  padding: 20px 100px 0 0;
  color: rgba(0, 0, 0, 0.8);
}

// .video-box {
//   background: url('/images/poster.png') no-repeat;
//   background-size: cover;
// }
.video-box video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  align-self: center;
}

.socialmedia {
  right: 0;
  bottom: 30px;
  position: absolute;
  z-index: 1;

  & ul {
    list-style-type: none;
  }
  
  &__list {
    li {
      display: inline-block;
      margin: 20px 20px 2px 0;

      a {
        img {
          height: 15px;
          filter: invert(100%) sepia(0%) saturate(1500%) hue-rotate(86deg) brightness(100%) contrast(200%);
        }
        :hover {
          filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(86deg) brightness(0%) contrast(0%);
        }
      }
    }
  }
}