.aboutme {
    background-color: transparent;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    @media screen and (max-width: 768px) {
      width: 100%;
      grid-template-columns: auto;
      box-sizing: border-box;
      padding: 30px 10px 30px 10px;
      // height: auto;
      
  }
    
    &__lhs {
        background-color: rgba(251, 227, 50, 0);
        padding: 0px 100px 0 0;
        align-self: flex-end;
        // border-bottom: 1px solid rgba(251, 227, 50, 1);
        border-right: 0px;
        
        @media screen and (max-width: 768px) {
          padding: 100px 20px;
          height: 100%;
          border: 0;
          background-color: rgba(251, 227, 50, 0.8);
          position: absolute;
          top: 0;
          left: 0;
        }
    }
    &__rhs {
        width: 100%;
        height: 100%;
  
        @media screen and (max-width: 768px) {
          
         }

        &--videoBox {
            height: 100%;
            position: relative;

            @media screen and (max-width: 768px) {
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
            }

            &::before {
              content: "";
              position: absolute;
              background-color: rgba(255,255,255, 0.2);
              z-index: 1;
              width: 100%;
              height: 100%;
            }

            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                align-self: center;
            }
        }
    }
}

.primary-heading {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: $heading-font-size;
    color: $secondary-color;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 15vw;
    }
}
.paragraph {
    line-height: 29px;
    margin-top: 20px;
    text-align: left;
    color: #000;
    font-size: 14px;
}
.active {
    font-weight: bold;
    color: rgba(251, 227, 50, 1);
    text-transform: capitalize;
    letter-spacing: 1px;

}


@keyframes ldio-7oqrmoldtcs {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.ldio-7oqrmoldtcs div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-7oqrmoldtcs 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-7oqrmoldtcs div:nth-child(1) {
  border-color: #fbe332
}

.ldio-7oqrmoldtcs div:nth-child(2) {
  border-color: #090909;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple-cg0qyc8ucd {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.ldio-7oqrmoldtcs {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7oqrmoldtcs div { box-sizing: content-box; }
/* generated by https://loading.io/ */
