.header {
    position: absolute;
    top: 50px;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__logo {
       text-align: left;
       text-transform: uppercase;
       font-weight: lighter;
       font-family: $heading-font-family;
       letter-spacing: 1px;
    }
    &__menu {
        text-align: right;
    }
}
.carousel {
    background: transparent;
  }
  
  .carousel-cell {
    width: 66%;
    height: 500px;
    margin-right: 10px;
    background: #C4C3BD;
    border-radius: 5px;
    counter-increment: carousel-cell;

    &__image {
      width: 100%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: all .2s;

      &:hover {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
      }
    }

  }

  
  /* cell number */
  // .carousel-cell:before {
  //   display: block;
  //   text-align: center;
  //   content: counter(carousel-cell);
  //   line-height: 200px;
  //   font-size: 80px;
  //   color: white;
  // }
  
  .flickity-page-dots {
      display: none;
  }