.work {
    display: grid;
    

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh;

       
    }
    
}
h4 {
    font-size: 20px;
}
h1 {
    font-size: 150px;
}
.projects {
    width: 100%;
}

.work-heading {
    margin-top: 70px;
    margin-bottom: 10px;
    padding-left: 30px;
}

.tertiary-heading {
  font-size: 56px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.1);
  margin-left: -6px;
  position: relative;
}
.tertiary-sub-heading {
  font-size: 21.4px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  margin-left: -5px;
  position: relative;
}

.smallOne,
.smallTwo,
.smallThree,
.smallFour,
.smallFive,
.smallSix,
.smallSeven,
.smallEight,
.smallNine {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
   
}

.thumbnail {
    object-fit: contain;
    height: 100%;
}

.large {
    object-fit: contain;
    height: 100%;
}

.smallOne {
    background-color: yellow;

    &:hover ~ .largeOne{
        display: block;
    }
}
.largeOne {
    display: block;
    background-color: yellow;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;

}


.smallTwo {
    background-color: blue;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeTwo{
        display: block;
        background-color: blue;
    }
}
.largeTwo {
    display: none;
    background-color: blue;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}


.smallThree {
    background-color: green;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeThree{
        display: block;
        background-color: green;
    }
}
.largeThree {
    display: none;
    background-color: green;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}
.smallFour {
    background-color: pink;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeFour{
        display: block;
        background-color: pink;
    }
}
.largeFour {
    display: none;
    background-color: pink;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}

.smallFive {
    background-color: grey;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeFive{
        display: block;
        background-color: grey;
    }
}
.largeFive {
    display: none;
    background-color: grey;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}


.smallSix {
    background-color: orange;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeSix{
        display: block;
        background-color: orange;
    }
}
.largeSix {
    display: none;
    background-color: orange;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}

.smallSeven {
    background-color: purple;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeSeven{
        display: block;
        background-color: purple;
    }
}
.largeSeven {
    display: none;
    background-color: purple;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}

.smallEight {
    background-color: aqua;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeEight{
        display: block;
        background-color: aqua;
    }
}
.largeEight {
    display: none;
    background-color: aqua;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}

.smallNine {
    background-color: orangered;
    // width: 100px;
    // height: 100px;

    &:hover ~ .largeNine{
        display: block;
        background-color: orangered;
    }
}
.largeNine {
    display: none;
    background-color: orangered;
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
}

